@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 75% 96%;
    --foreground: 285 100% 5%;
    --card: 285 75% 96%;
    --card-foreground: 285 100% 5%;
    --popover: 285 75% 96%;
    --popover-foreground: 285 100% 5%;
    --primary: 270 94% 35%;
    --primary-foreground: 285 75% 96%;
    --secondary: 285 100% 98%;
    --secondary-foreground: 270 12% 48%;
    --muted: 285 100% 98%;
    --muted-foreground: 270 12% 48%;
    --accent: 285 100% 98%;
    --accent-foreground: 285 100% 5%;
    --destructive: 345 94% 40%;
    --destructive-foreground: 285 75% 96%;
    --border: 285 40% 88%;
    --input: 285 40% 88%;
    --ring: 285 100% 5%;
    --radius: 0.675rem;
  }
}

@layer base {

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
    line-height: 1.1;
  }

  p,
  li,
  span {
    max-width: 65ch;
    text-wrap: pretty;
  }

  * {
    @apply border-border;
    /* border: 1px solid red; */
  }
}

@layer utilities {
  .grid-container {
    --padding-inline: 1.5rem;
    --container-max-width: 70rem;

    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr) [content-start] min(100% - (var(--padding-inline) * 2),
        var(--container-max-width)) [content-end] minmax(var(--padding-inline), 1fr) [full-width-end];

    &> :not(.full-width) {
      grid-column: content;
    }

    &>.full-width {
      grid-column: full-width;
    }
  }
}
